extends ../../base

block title
    title Animate test

block body
    .container
        h2 Animate
        a(href='https://gist.github.com/paulirish/1579671') requestAnimationFrame polyfill
        #test

