.lav-slider
    .lav-slider__controls-btn
        .lav-slider__btn-left
        .lav-slider__btn-right
    .lav-slider__dots
        .lav-slider_dot
    .lav-slider__contents
        .lav-slider__item